:root {
    --margin: 1rem;
    --padding: 1rem;
    --border-width: 0.1rem;
    --border-radius: 0.1rem;
    --background-color-primary: black;
    --background-color-success: blue;
    --background-color-danger: red;
    --border-color: black;
    --text-color-primary: black;
    --text-color-success: blue;
    --text-color-danger: red;
}

.ee-display_flex {
    display: flex
}

.oo-border-width {
    border-width: calc(var(--oo-border-width));
}

.oo-padding {
    padding: calc(var(--oo-padding));
}

.ee-cursor_pointer {
    cursor: pointer
}

.oo-background-color-primary {
    background-color: var(--oo-background-color-primary);
}

.oo-text-color-primary {
    color: var(--oo-text-color-primary);
}

.ee-border-style_solid {
    border-style: solid
}

.oo-border-color {
    border-color: var(--oo-border-color);
}

.oo-border-radius {
    border-radius: calc(var(--oo-border-radius));
}

.ee-justify-content_space-between {
    justify-content: space-between
}

.ee-align-items_center {
    align-items: center
}

.ee-position_fixed {
    position: fixed
}

.ee-width_10 {
    width: 10rem
}

.ee-width_2 {
    width: 2rem
}

.ee-height_2 {
    height: 2rem
}

.ee-width_22 {
    width: 22rem
}

.ee-bottom_6 {
    bottom: 6rem
}

.ee-right_2 {
    right: 2rem
}

.ee-background-color_white {
    background-color: white
}

.ee-height_auto {
    height: auto
}

.ee-overflow_auto {
    overflow: auto
}

.ee-height_18 {
    height: 18rem
}

.oo-padding-top {
    padding-top: calc(var(--oo-padding));
}

.ee-text-transform_capitalize {
    text-transform: capitalize
}

.oe-hover-success:hover {
    color: var(--oo-background-color-success);
    background-color: var(--oo-text-color-success)
}

.oo-background-color-success {
    background-color: var(--oo-background-color-success);
}

.oo-text-color-success {
    color: var(--oo-text-color-success);
}

.ee-font-family_monospace {
    font-family: monospace
}

.ee-background-color_black {
    background-color: black
}

.ee-bottom_2 {
    bottom: 2rem
}